In [2]:
import pandas as pd
import pickle
from string import ascii_uppercase as alfabeto

In [3]:
all_html = pd.read_html('https://es.wikipedia.org/wiki/Copa_Libertadores_2023')
# 22, 25, 28 va de 3 en 3 24+19 = 43

In [4]:
groups = {}
for letra, i in zip(alfabeto, range(19,41,3)):
  df = all_html[i]
  # Cambiar los datos
  df['Pts.'] = 0
  df['PJ'] = 0
  df['PG'] = 0
  df['PE'] = 0
  df['PP'] = 0
  df['GF'] = 0
  df['GC'] = 0
  df['DG'] = 0
  groups[f'Grupo {letra}'] = df

In [5]:
groups['Grupo A']

        Equipo  Pts.  PJ  PG  PE  PP  GF  GC  DG
0  Racing Club     0   0   0   0   0   0   0   0
1     Flamengo     0   0   0   0   0   0   0   0
2     Ñublense     0   0   0   0   0   0   0   0
3        Aucas     0   0   0   0   0   0   0   0

In [6]:
with open('groups_file','wb') as output:
  pickle.dump(groups,output)